*{
padding:0;margin:0;font-size:12px;font-familt:Helvetica;
}

body{
	
}

.dialogues .dialogue{
	display:none;
}

fieldset{
	padding:5px;
	margin-bottom:5px;
}

legend{
	text-align:left;
	font-weight:bold;
	
}

button{
	padding:5px;
	text-align:center;
}

#controls{
	text-align:right;
}

#controls ul{
	text-align:right;
	width:100%;
	height:30px;
}

#controls li{
	display:inline-block;
	width:8%;
	margin-right:0px;
}

#wrapper{
 max-width:80%;
 margin:0 auto;
}

#wrapper table{
	width:100%;
}

#wrapper table th{
	padding:6px;
	background:#3399ff;
	color:#fff;
	font-weight:bold;
}

#header{
	max-width:100%;
	background:url('/public/images/banner.jpg') no-repeat 0 0;
	background-size:cover;
	padding:60px 0;
}
